@import "../../styles/variables";

.topNavBar {
  background: rgba($color-dark, .8);
  border: 1px solid rgba($color-primary-accent, .3);
  box-shadow: 10px 10px 20px rgba($color-dark, .5);
  color: $color-primary-accent;
}

.brand {
  color: $color-secondary;
  font-weight: 600;
  letter-spacing: 1px;
  line-height: 120%;
}